@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.logo-name {
    width: 20%;
    color: #28282B;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: #28282B;
    font-weight: bold;
}

.navigation a:hover {
    opacity: 0.8;
    color: #0096FF;
}

.mode {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mode a {
    text-decoration: none;
    color: #28282B;
}

.mode img {
    animation: rubberBand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


img {
    width: 50px;
    cursor: pointer;
}

.mode img:hover {
    opacity: 0.7;
}

#about {
    margin-top: 120px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
}

.about-text {
    width: 60%;
    height: 300px;
    border: 1px solid black;
    color: #28282B;
}

.about-text h4 {
    margin-left: 20px;
}

.name-box {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px;
}

.name-box h1, h2 {
    font-size: 2.5rem;
}

.name-box h2 {
    animation: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: #0096FF;
}

.about-pict {
    width: 40%;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-pict img {
    width: 50%;
    border-radius: 20%;
    box-shadow: 0px 2px 1px 0px black;
}

/* Dark Mode Properties*/
.dark-mode {
    background-color: #0c0c0d;
    transition: .15s;
    color: white;
}

.dark-mode .navigation a, .dark-mode .logo-name h2, .dark-mode .about-text h4, .dark-mode .name-box h1 {
    color: #fff;
}

.dark-mode .about-pict img {
    box-shadow: 0px 2px 1px 0px gray;
}





